h3 {
    font-family: 'Imperial Script', cursive;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 10rem auto; }
  
  h4 {
    font-family: 'Imperial Script', cursive;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin: 5rem auto; }
  
  h2 {
    font-family: 'Imperial Script', cursive;
    font-size: 40px;
    font-weight: bolder;
    text-align: center; }